div {
  font-family: "Times New Roman", Times, "Lucida Console", "Candara", sans-serif;
}

.container-md {
  margin-left: auto - 100px;
  margin-right: auto - 100px;
}
  
.column {
  font-family: "Times New Roman", Times, "Lucida Console", "Candara", sans-serif;
  float: left;
  width: 50%;
}

.row {
  width: 100%;
  padding-bottom: 30px;
}
